.product{
  display: grid;
  grid-gap: 50px 100px;
  grid-template-columns: auto auto auto;
  width: 600px;
  height: 600px;  
  padding: 5px;
  border: 1px solid red;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}


.form input{
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 20px;
  text-align: left;
}


.card1{
  position:relative;
  left:200px;
  width: 300px;
  height: 300px;
  border:2px solid rgb(81, 0, 128);
  border-radius: 15px;
  margin: 10px;
  

}